### Querying RAS XS through PyIceberg

The following notebook is to walk you through the process of querying a RAS XS through PyIceberg. 

For the warehouse path, please put the path to your S3 tables URI

In [10]:
# imports
import os

from dotenv import load_dotenv
from pyiceberg.catalog import load_catalog

from icefabric_tools import to_geopandas

load_dotenv()

os.environ["WAREHOUSE_PATH"] = "INSERT PATH TO URI"

In [ ]:
# Load Catalog
catalog_settings = {
    "type": "glue",
    "s3.endpoint": "s3.us-east-1.amazonaws.com",
    "warehouse": os.environ["WAREHOUSE_PATH"],
    "glue_region": "us-east-1",
}
catalog = load_catalog("glue", **catalog_settings)

In [21]:
catalog.list_tables("mip_xs")[40:50]

[('mip_xs', '02030102'),
 ('mip_xs', '02030103'),
 ('mip_xs', '02030104'),
 ('mip_xs', '02030105'),
 ('mip_xs', '02040101'),
 ('mip_xs', '02040102'),
 ('mip_xs', '02040103'),
 ('mip_xs', '02040104'),
 ('mip_xs', '02040105'),
 ('mip_xs', '02040106')]

Using `catalog.load_table()` we can directly call the XS data. Each is stored based on HUC8

In [36]:
# Reading MIP XS
namespace = "mip_xs"
huc_number = "02040106"
df = catalog.load_table(f"{namespace}.{huc_number}").scan().to_pandas()
gdf = to_geopandas(df)
gdf.head()
# gdf.explore()

          river    reach  ... ds_network_to_id  __index_level_0__
0  Middle Creek  Reach 1  ...             None              89158
1  Middle Creek  Reach 1  ...             None              89159
2  Middle Creek  Reach 1  ...             None              89160
3  Middle Creek  Reach 1  ...             None              89161
4  Middle Creek  Reach 1  ...             None              89162

[5 rows x 25 columns]

To query individual river reaches, we can use the scan feature to query based on the table schema

In [23]:
catalog.load_table(f"{namespace}.{huc_number}").schema

<bound method Table.schema of 02040102(
  1: river: optional string,
  2: reach: optional string,
  3: river_reach: optional string,
  4: river_station: optional double,
  5: river_reach_rs: optional string,
  6: thalweg: optional string,
  7: xs_max_elevation: optional string,
  8: left_reach_length: optional double,
  9: right_reach_length: optional double,
  10: channel_reach_length: optional double,
  11: ras_data: optional string,
  12: station_elevation_points: optional string,
  13: bank_stations: optional string,
  14: number_of_station_elevation_points: optional long,
  15: number_of_coords: optional long,
  16: flows: optional string,
  17: profile_names: optional string,
  18: geometry: optional binary,
  19: huc: optional string,
  20: model_id: optional string,
  21: us_reach_id: optional string,
  22: us_network_to_id: optional string,
  23: ds_reach_id: optional string,
  24: ds_network_to_id: optional string,
  25: __index_level_0__: optional long
),
partition by: [],
sort order: [],
snapshot: Operation.APPEND: id=6057082605591134330, schema_id=0>

Let's query by the river name

In [37]:
from pyiceberg.expressions import EqualTo

df = (
    catalog.load_table(f"{namespace}.{huc_number}")
    .scan(row_filter=EqualTo("river", "Lehigh River"))
    .to_pandas()
)
display(df.tail())
# to_geopandas(df).explore()

             river reach  ... ds_network_to_id  __index_level_0__
4916  Lehigh River  Main  ...             None              99205
4917  Lehigh River  Main  ...             None              99206
4918  Lehigh River  Main  ...             None              99207
4919  Lehigh River  Main  ...             None              99208
4920  Lehigh River  Main  ...          2588461              99209

[5 rows x 25 columns]

Now, let's query by an individual river station ID

In [38]:
from pyiceberg.expressions import EqualTo

df = (
    catalog.load_table(f"{namespace}.{huc_number}")
    .scan(row_filter=EqualTo("river_station", 573.0077))
    .to_pandas()
)
display(df.head())
# to_geopandas(df).explore()

          river reach  ... ds_network_to_id  __index_level_0__
0  Lehigh River  Main  ...             None              99208

[1 rows x 25 columns]

To extend this notebook to other HUCs, just change the HUC number, then change the XS reference